div {
  display: block;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

#shops {
  position: relative;
  z-index: 1;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #ced5e0;
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  min-width: 320px;
  color: #475262;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #6b7b8e;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 30%;
  vertical-align: middle;
  margin-top: 10px;
}

.input-field {
  height: 5%;
  width: 100%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #6b7b8e;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: top;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 30%;
  vertical-align: middle;
}

.dropdown {
  height: 5%;
  width: 100%;
  padding: 5px;
  margin: 10px;
  margin-top: 5%;
  border: 1% solid #6b7b8e;
  border-radius: 5px;
}

.rowTab {
  margin: 0;
  padding: 0;
}

.location {
  height: 5%;
  width: 100%;
  padding: 5px;
  margin-left: 60%;
}

input[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}
input[type="radio"] {
  box-sizing: border-box;
}

#loadImg {
  padding-right: 10%;
}

button {
  background-color: #475262;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
#form {
  background-color: white;
  margin-left: 4%;
  border-radius: 4%;
  width: 35%;
  max-width: 900px;
  border: 1px solid #eee;
  margin-top: 5em;
}

button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  /* add your code below this line */
  animation-fill-mode: forwards;
  /* add your code above this line */
}
@keyframes background-color {
  100% {
    background-color: #c0d1cf;
  }
}
#title {
  color: rgb(250, 250, 250);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20%;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
/* Checkbox */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f4f9f4;
}

.container:hover input ~ .checkmark {
  background-color: #f4f9f4;
}

.container input:checked ~ .checkmark {
  background-color: #475262;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

i {
  color: #475262;
}

#lastRow {
  margin-bottom: 4%;
  margin-top: 2%;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
}

input[type="file"] {
  display: none;
}
