.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  overflow-y: auto;
}

.modal.left .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}
.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal-backdrop {
  opacity: 0 !important;
}

.modal {
  width: 350px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

/* .modal {
  position: fixed;
  z-index: 1;
} */

#search {
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
}

#modal-list {
  width: 40% !important;
}

.modal {
  width: 200px;
}

a {
  text-decoration: none;
}
