div {
  display: block;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #eee;
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  min-width: 320px;
  color: #475262;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
}

div {
  display: block;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

#shops {
  position: relative;
  z-index: 1;
}

.container {
  width: 40%;
  margin-top:5%;
  margin-left: 10%;
  border: 1px solid grey;
  padding-bottom: 2%;
  border-radius: 10px;
  background-color: white;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
}

#modal-row {
  display: none;
}

.box {
  font-weight: bold;
}

.rowTab {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.left {
  width: 20%;

  display: flex;
  text-align: left;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 15px;
}

.right {
  width: 20%;
  display: flex;
  text-align: right;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5%;
  margin-top: 15px;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 15px;
  padding-left: 8%;
}

.logos {
  font-size: 2em;
  flex-direction: column;
  align-items: flex-end;
}
.imgs {
  font-size: 4em;
  display: inline-flex;

  float: left;
}

.stars {
  display: inline-flex;
  font-size: 1.5em;
  align-items: flex-end;
  color: #ffd700;
}

h1,
p {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #6b7b8e;
}
h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}
