div {
  display: block;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

#header-find {
  background-color: white;
  z-index: 1;
  height: 5%;
  margin-left: 4%;
  width: 35%;
  max-width: 900px;
  border-radius: 4%;
  margin-top: 1em;
}
.search_input_wrapper,
.input_field_wrapper,
.location-item {
  display: inline-block;
  text-align: left;

  font-size: 1em;
}

.search_input_wrapper {
  width: 30%;

  border-right: 1px solid #eee;
}

.input_field_wrapper {
  width: 50%;
  height: 100%;
}
.input_field,
.input_text {
  width: 100%;
  height: 100%;
  border: none;
}

#shops {
  position: relative;
  z-index: 1;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}
